@import "~bulma/bulma.sass";

.hero {
  background: rgb(34, 34, 34);
  background: linear-gradient(
    170deg,
    rgb(0, 0, 0) 0%,
    rgb(31, 31, 31) 40%,
    rgb(52, 52, 52) 100%
  );
}

body {
  font-size: 20px;
}

@include mobile {
  #header {
    padding-bottom: 0px;
  }

  #about-me {
    padding-top: 0px;
  }
}
